<form action="/products" method="post">
 Name: <br><input type="text" name="name" placeholder="{{name}}"><br>
 Price: <br><input type="text" name="price" placeholder="{{price}}"><br>
 Inventory: <br><input type="text" name="inventory" placeholder="{{inventory}}"><br>
  <br><input type="submit" value="Submit">
</form>