<form action="/products" method="post">
 ID: <br><input type="text" name="ID" placeholder="{{id}}"><br>
 Name: <br><input type="text" name="Name" placeholder="{{name}}"><br>
 Price: <br><input type="text" name="Price" placeholder="{{price}}"><br>
 Inventory: <br><input type="text" name="Inventory" placeholder="{{inventory}}"><br>
  <br><input type="submit" value="Submit">
</form>