<form action="/products" method="post">
 Name: <br><input type="text" name="name" placeholder="input name..."><br>
 Price: <br><input type="text" name="price" placeholder="input price..."><br>
 Inventory: <br><input type="text" name="inventory" placeholder="input inventory..."><br>
  <br><input type="submit" value="Submit">
</form>
{{{messages}}}