<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Products and Articles</title>
</head>
<body>
  {{{body}}}
  {{{product}}}
  {{{edit}}}
  {{{new}}}
</body>
</html>